@page "/"
@inject UIService Service;

<NavComponent UICartService="Service" />
@* <MenuComponent />
<CarouselComponent />
<CardListComponent />
 *@

<div id="viewport" class="d-flex vh-100">
    <CascadingValue Value="Service" Name="Service">
         <AsideComponent OnChange="OnChange"/>
         <ProductMainComponent OnChange="OnChange"/>
     </CascadingValue>
</div>

@code{
    void OnChange()
    {

    }
}
